.light-rays-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0; /* Base layer */
  pointer-events: none;
  background-color: #050505; /* Deep black background */
}