@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-lexend: "Lexend", sans-serif;
}

html {
  scrollbar-gutter: stable;
}

body {
  @apply bg-black text-white antialiased;
  font-family: 'Lexend', sans-serif;
  margin: 0;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}